################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
versions = versions
parts = 
    gpatch
    part
hooks-directory = ${buildout:directory}/hooks
develop-eggs-directory=../../eggs/develop-eggs
eggs-directory=../../eggs/cache

[versions]

[part]
recipe = minitage.recipe.cmmi
url = http://www.w3.org/Library/Distribution/w3c-libwww-5.4.0.tgz
configure-options=--with-ssl="-L${buildout:directory}/../openssl-1/parts/part/lib -Wl,-rpath -Wl,${buildout:directory}/../openssl-1/parts/part/lib  -lssl -lcrypto"
includes=${buildout:directory}/../openssl-1/parts/part/include/openssl
md5sum=c3734ca6caa405707e134cc8c6d7e422
gmake=True
darwin-patches=
    ${buildout:directory}/patch-configure.diff
patch-options=-Np1    
[openssl]
location=${buildout:directory}/../openssl-1/parts/part
[gpatch]
recipe = collective.recipe.template
input = ${gpatch:output}.in
output = ${buildout:directory}/patch-configure.diff

